<%= form_for [@project, @ticket] do |f| %>
	<%= f.error_messages%>
	<p>
		<%= f.label :title, "Titulo" %>
		<%= f.text_field :title%>
	</p>
	<p>
		<%= f.label :description, "Descricao" %>
		<%= f.text_field :description %>
	</p>
	<%= f.submit %>
<% end %>