<%= form_for [@project, @ticket], html: {multipart: true} do |f| %>
	<%= f.error_messages%>
	<p>
		<%= f.label :title, "Titulo" %>
		<%= f.text_field :title%>
	</p>
	<p>
		<%= f.label :description, "Descricao" %>
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.label :asset, "File" %>
		<%= f.file_field :asset %>
	</p>
	<%= f.submit %>
<% end %>