<div id='ticket'>
	<h2><%= @ticket.title %></h2>
			<%= authorized?("edit tickets", @project)  do %>
				<%= link_to "Editar", [:edit, @project, @ticket] %>
			<% end %>
			<%= authorized?("delete tickets", @project)  do %>
				<%= link_to "Delete", [@project, @ticket], method: :delete %>
			<% end %>
	<%= simple_format(@ticket.description) %><br/>
	<small>Criado por <%= @ticket.user.email %></small>
</div>